{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block body %}
<h1>Articles de blog:</h1>
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>

    <div>
        <main>

        </main>
        <h1>Si vous avez cliqué sur le lien présent dans la demande de contact en espérant y retrouver un article, vous vous êtes fait avoir.</h1>
        <aside>
            {% include './includes/sidebar.html.twig' %}
        </aside>
    </div>
{% endblock %}
